<div class="container text-layout" style="margin-top: 30px;">
    
    <!-- Titulo -->
    <hr>
    <h2 class="text-center"> Buscar Capitales </h2>
    <hr>

    <!-- Buscador -->
    <form (ngSubmit)="valorTermino()" (ngSubmit)="buscar( termino )" autocomplete="off">
        <input 
            type="text" 
            name="termino"
            placeholder="Escribe aquí para buscar un pais..." 
            pInputText 
            style="width: 100%;"
            [(ngModel)]="termino"
        />
    </form>


    <!-- Tabla Grande -->
    <div style="margin-top: 10px;" class="animate__animated animate__zoomInUp" id="tablagrande">
        <p-table [value]="paises">
            <ng-template pTemplate="header"> <!-- Header -->
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th pSortableColumn="capital"> Capital </th>
                    <th pSortableColumn="name"> Nombre </th>
                    <th pSortableColumn="region"> Region </th>
                    <th></th>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-paises let-i="rowIndex"> <!-- Body -->
                <tr>
                    <td> {{ i + 1 }} </td>
                    <td> <img src="{{ paises.flag }}" class="flag-control"> </td>
                    <td> {{ paises.capital | valornulo }} </td>
                    <td> {{ paises.name }} </td>
                    <td> {{ paises.region }} </td>
                    <td>
                        <a [routerLink]="['/pais', paises.alpha2Code]" style="text-decoration: none">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-text"></button>
                        </a>  
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Tabla Chica -->
    <div style="margin-top: 10px;" class="animate__animated animate__zoomInUp" id="tablachica">
        <p-table [value]="paises" responsiveLayout="scroll">
            <ng-template pTemplate="header"> <!-- Header -->
                <tr>
                    <th> # </th>
                    <th> Bandera </th>
                    <th pSortableColumn="name"> Capital </th>
                    <th></th>
                </tr>
            </ng-template>
        
            <ng-template pTemplate="body" let-paises let-i="rowIndex"> <!-- Body -->
                <tr>
                    <td> {{ i + 1 }} </td>
                    <td> <img src="{{ paises.flag }}" class="flag-control"> </td>
                    <td> {{ paises.capital }} </td>
                    <td>
                        <a [routerLink]="['/pais', paises.alpha2Code]" style="text-decoration: none">
                            <button pButton pRipple type="button" icon="pi pi-search" class="p-button-rounded p-button-success p-button-text"></button>
                        </a>  
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <!-- Error -->
    <div *ngIf="hayError" class="alert alert-danger text-center">
        No se encontro nada con el termino introducido.
    </div>

</div>