<!-- Imagen de Fondo -->
<div class="imagenFondo"></div>

<!-- Descripcion -->
<div class="container text-layout" style="margin-top: 20px;">
    <hr>
    <h3 class="text-center animate__animated animate__pulse"> Bienvenido al Buscador de Paises</h3>
    <hr>
    <h5 class="text-center animate__animated animate__pulse"> En esta Web podras buscar paises, regiones y capitales de todo el mundo, aprovechando la Api de Rest Countries.</h5>

    <!-- Botones -->
    <div class="row">
        <div class="col-12" style="display: flex; justify-content: center; margin-top: 10px;">
            <a routerLink="/paises" style="text-decoration: none;">
                <button 
                    pButton 
                    type="button" 
                    label="Empezemos!" 
                    class="p-button-success botonInicio animate__animated animate__zoomIn">
                </button>
            </a>

        </div>
        <div class="col-12" style="display: flex; justify-content: center; margin-top: 10px;">
            <a target="_black"  href="https://restcountries.com/" style="text-decoration: none;">
                <button 
                    pButton 
                    type="button" 
                    label="Visitar la api de RestCountries" 
                    class="p-button-help botonInicio animate__animated animate__zoomIn">
                </button>
            </a>
        </div>
    </div>
    
    
    
</div>
